# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyTorch Checkpoints & Models (Heavy weights tracked via Git LFS)
*.pth
*.onnx
*.bin
*.safetensors
checkpoints/
output/
!best_model.pt
!saved_models/best_model.pt

# Datasets & Large Archives
*.flac
*.wav
*.mp3
*.tar.gz
*.zip
*.tar
data/
datasets/
kaggle_data/
asvspoof_data/

# IDEs & System
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

.tools/
final_model_download/
final_trained_model/
trained_artifacts/
saved_models/
